[submodule "lib/node"]
	path = lib/node
	url = https://github.com/joyent/node.git
[submodule "tests/lib/catch"]
	path = tests/lib/catch
	url = https://github.com/philsquared/Catch.git
[submodule "lib/qt-event-dispatcher-libuv"]
	path = lib/qt-event-dispatcher-libuv
	url = https://github.com/svalaskevicius/qt-event-dispatcher-libuv.git
[submodule "lib/cpgf"]
	path = lib/cpgf
	url = https://github.com/cpgf/cpgf.git
