[submodule "lib/node"]
	path = lib/node
	url = https://github.com/joyent/node.git
[submodule "tests/lib/igloo"]
	path = tests/lib/igloo
	url = https://github.com/joakimkarlsson/igloo.git
[submodule "tests/lib/cppspec"]
	path = tests/lib/cppspec
	url = https://github.com/tpuronen/cppspec.git
